torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
diffusers>=0.31.0
transformers==4.51.3
tokenizers>=0.20.3
accelerate>=1.1.1
peft==0.17.1
safetensors
huggingface_hub
hf_transfer
imageio[ffmpeg]
imageio-ffmpeg
opencv-python-headless>=4.9.0.80
numpy>=1.23.5,<2
pillow
librosa
decord
easydict
einops
ftfy
regex
pyyaml
scipy
tqdm
